<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1e9ad9d-4de9-41f8-81bb-816f3354afb5" Alias="User Picker - All Users" Level="1">
  <Info>
    <Name>User Picker - All Users</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <EditorUIAlias />
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>