<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c9833dd-9334-4feb-a210-f41479393b9e" Alias="Blog" Level="2">
  <Info>
    <Parent Key="a6921190-c440-4885-806c-0558cd9a2da5">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogSection</ContentType>
    <CreateDate>2026-08-04T13:29:49</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>