<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a25b056-fef4-49ce-bc9a-725aa258c56e" Alias="Filtering Posts by Category" Level="3">
  <Info>
    <Parent Key="0c9833dd-9334-4feb-a210-f41479393b9e">Blog</Parent>
    <Path>/Home/Blog/FilteringPostsByCategory</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-08-04T13:29:50</CreateDate>
    <NodeName Default="Filtering Posts by Category" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This is the demo body text for <strong>Filtering Posts by Category</strong>, seeded for testing Gibe.Umbraco.Blog.</p>]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[umb://document/fb50e70a3236465fa8aeaea3fcfbc78e]]></Value>
    </category>
    <postAuthor>
      <Value><![CDATA[umb://user/1e70f841c261413babb22d68cdb96094]]></Value>
    </postAuthor>
    <postDate>
      <Value><![CDATA[2026-07-05T14:29:50]]></Value>
    </postDate>
    <settingsNewsTags>
      <Value><![CDATA[["categories","search"]]]></Value>
    </settingsNewsTags>
  </Properties>
</Content>