<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7d95fae-fee8-47e7-bca7-5687d5ed60b7" Alias="Getting Started with Blog Sections" Level="3">
  <Info>
    <Parent Key="0c9833dd-9334-4feb-a210-f41479393b9e">Blog</Parent>
    <Path>/Home/Blog/GettingStartedWithBlogSections</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-08-04T13:29:50</CreateDate>
    <NodeName Default="Getting Started with Blog Sections" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This is the demo body text for <strong>Getting Started with Blog Sections</strong>, seeded for testing Gibe.Umbraco.Blog.</p>]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[umb://document/39a426f606b54ae1a4e79484bdf52a78]]></Value>
    </category>
    <postAuthor>
      <Value><![CDATA[umb://user/1e70f841c261413babb22d68cdb96094]]></Value>
    </postAuthor>
    <postDate>
      <Value><![CDATA[2026-07-28T14:29:50]]></Value>
    </postDate>
    <settingsNewsTags>
      <Value><![CDATA[getting-started,umbraco]]></Value>
    </settingsNewsTags>
  </Properties>
</Content>