<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb50e70a-3236-465f-a8ae-aea3fcfbc78e" Alias="News" Level="2">
  <Info>
    <Parent Key="a6921190-c440-4885-806c-0558cd9a2da5">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategory</ContentType>
    <CreateDate>2026-08-04T13:29:49</CreateDate>
    <NodeName Default="News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>