<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d015905-08f8-4276-8d5d-8ebc760a59cf" Alias="Tips for Tagging Your Posts" Level="3">
  <Info>
    <Parent Key="0c9833dd-9334-4feb-a210-f41479393b9e">Blog</Parent>
    <Path>/Home/Blog/TipsForTaggingYourPosts</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-08-04T13:29:50</CreateDate>
    <NodeName Default="Tips for Tagging Your Posts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This is the demo body text for <strong>Tips for Tagging Your Posts</strong>, seeded for testing Gibe.Umbraco.Blog.</p>]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[umb://document/98094230e68f41aba8b01a90ee2532be]]></Value>
    </category>
    <postAuthor>
      <Value><![CDATA[umb://user/1e70f841c261413babb22d68cdb96094]]></Value>
    </postAuthor>
    <postDate>
      <Value><![CDATA[2026-07-21T14:29:50]]></Value>
    </postDate>
    <settingsNewsTags>
      <Value><![CDATA[["tips","tags"]]]></Value>
    </settingsNewsTags>
  </Properties>
</Content>