<?xml version="1.0" encoding="utf-8"?>
<Content Key="98094230-e68f-41ab-a8b0-1a90ee2532be" Alias="Tutorials" Level="2">
  <Info>
    <Parent Key="a6921190-c440-4885-806c-0558cd9a2da5">Home</Parent>
    <Path>/Home/Tutorials</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategory</ContentType>
    <CreateDate>2026-08-04T13:29:49</CreateDate>
    <NodeName Default="Tutorials" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>