<?xml version="1.0" encoding="utf-8"?>
<Content Key="39a426f6-06b5-4ae1-a4e7-9484bdf52a78" Alias="Updates" Level="2">
  <Info>
    <Parent Key="a6921190-c440-4885-806c-0558cd9a2da5">Home</Parent>
    <Path>/Home/Updates</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategory</ContentType>
    <CreateDate>2026-08-04T13:29:49</CreateDate>
    <NodeName Default="Updates" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>