<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="GibeCommerce" value="https://mayormcdaniels.office.gibe.digital/guestAuth/app/nuget/feed/GibeCommerce/gibecommerce/v2" />
        <add key="Gibe" value="https://mayormcdaniels.office.gibe.digital/guestAuth/app/nuget/feed/_Root/default/v2" />
    </packageSources>
</configuration>